---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
import Link from "../components/Link.astro";

import projects from "../projects";
import links from "../links";
---

<Layout title="Otofuda Open Source Projects">
  <main>
    <h1>Otofuda</h1>
    <h2>Open Source Projects</h2>

    <ul role="list" class="link-card-grid">
      {projects.map((project) =>
        <Card project={project} />
      )}
    </ul>

    <div role="list" class="links">
      {links.map((link) =>
        <Link link={link} />
      )}
    </div>

    <footer>© Otofuda Project</footer>
  </main>
</Layout>

<style>
  main {
    margin: auto;
    padding: 1rem;
    width: 800px;
    max-width: calc(100% - 2rem);
    color: #ffffff;
    font-size: 20px;
    line-height: 1.6;
  }
  h1 {
    font-size: 4rem;
    font-weight: 700;
    line-height: 1;
    text-align: center;
    margin: 2rem auto 0 auto;
    background-image: var(--accent-gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: cover;
    background-position: 0%;
    width: min-content;
    text-transform: uppercase;
  }
  h2 {
    font-size: 1.5rem;
    font-weight: 300;
    line-height: 1;
    text-align: center;
    margin: 1rem 0 4rem 0;
  }
  .link-card-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
    gap: 2rem;
    padding: 0;
  }
  .links {
    margin-top: 2em;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1em;
  }
  footer {
    margin-top: 4em;
    text-align: center;
    font-size: 0.75rem;
    opacity: 0.6;
  }
</style>
